.SmallTags {

    font-size: 14px;
    padding: 8px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}


.SmallTags.bg-green-400 {
    background-color: #4caf50;
    color: #ffffff;

}

.SmallTags.bg-sky-400 {
    background-color: #87ceeb;
    color: #000000;
}

@media (max-width: 768px) {
    .SmallTags {
        font-size: 11px;
        padding: 3px;
        width: 80px;
        border-radius: 5px;
    }
}