@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


.App {
  width: 100%;
  /* display: flex; */
  /* justify-content: center; */
  height: 100%;
  /* align-items: center; */


  background: #7d2ae8;

}